@import "fuxcel.root";
@import "fuxcel.color";
@import "fuxcel.animation";
@import "fuxcel.form";
@import "fuxcel.button";
@import "fuxcel.modal";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;

  main {
    padding: 0 0.75rem;
  }
}

.close[data-fx-action="close"] {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: url("../images/close.svg") center center no-repeat;
  -webkit-appearance: button;

  &:hover {
    background: url("../images/close-hover.svg") center center no-repeat;
  }
}
