@import "fuxcel.root";
@import "fuxcel.color";
@import "fuxcel.animation";
@import "fuxcel.ux";
@import "fuxcel.form";
@import "fuxcel.button";
@import "fuxcel.modal";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;

  main {
    padding: 0 0.75rem;
  }
}

.close[data-fx-action="close"] {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: button;

  > * {
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}
